<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test1">
    <classes>
      <class name="script.ValidSignin"/>
      <class name="script.ValidSelectFlight"/>
      <class name="script.ValidRegister"/>
      <class name="script.ValidFindFlight"/>
      <class name="script.ValidBookFlight"/>
      <class name="script.ValidFlightConfirmation"/>
    </classes>
  </test> 
  <test thread-count="5" name="Test2">
    <classes>
      <class name="script.InvalidRegister"/>
    </classes>		
  </test> 
  <test thread-count="5" name="Test3">
    <classes>
      <class name="script.InvalidSignin"/>
    </classes>		
  </test> 
</suite> 
